[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
python-dotenv = "*"
django-extensions = "*"
psycopg2 = "*"
gunicorn = "*"
dj-database-url = "*"
django-heroku = "*"
django-debug-toolbar = "*"

[dev-packages]
mypy = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
