#fa-icon {
  font-size: 30px;
}

#fa-icon-large {
  font-size: 6rem;
}

header {
  display: block;
  padding-bottom: 50px;
}
.jumbotron {
  padding: 5rem 2rem !important;
  margin-bottom: 0;
}

.album {
  padding-top: 5rem !important;
}

a.link-card,
a.link-card:hover {
  color: inherit;
  text-decoration: none;
}

#main_container {
  padding-top: 4rem;
}

#page_title {
  font-size: 4rem;
}

.top_buffer {
  margin-top: 1rem;
}
.large-top-buffer {
  margin-top: 3rem;
}
.extended_bottom {
  padding-bottom: 3rem;
}

/* #resize_img {
  max-width: 70%;
  height: auto;
} */
