{% extends 'main.html' %} {% block main_content %} {% load static %}
<div class="container-fluid bg-light extended_bottom">
  <div class="row justify-content-center project-title-block">
    <div class="col text-center">
      <p>{{project.name}}</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <p class="lead">{{project.quick_blurb}}</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8 text-center">
      <img src="{{project.main_img.url}}" class="img-fluid" />
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-sm-8 text-center">
      <p class="text-sm-left">{{project.long_description}}</p>
    </div>
  </div>
  {% for detail in project.resumeprojectdetail_set.all %}
  <div class="row justify-content-center extended_bottom">
    <div class="col-sm-2 text-center">{{detail.detail_short}}</div>
    <div class="col-sm-6 text-left">{{detail.explanation}}</div>
  </div>
  {% endfor %}
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <p class="lead">Tools Used:</p>
      {% for tool in project.tools_used.all %}
      <span
        class="badge badge-primary badge-font-big mt-2"
        style="color:{{tool.tool_color}} !important;"
        >{{tool.tool_name}}</span
      >
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <a class="nav-link" href="{{project.git_link}}"
        ><i
          class="fa fa-github-square fa-6 fa-icon-bigger fa-grey"
          aria-hidden="true"
        ></i
      ></a>
    </div>
  </div>
</div>

{% endblock main_content %}
