{% extends 'main.html' %} {% block main_content %} {% load static %} {% load
cloudinary %}
<div class="container-fluid bg-light extended_bottom">
  <div class="row justify-content-center title_block">
    <div class="col text-center">
      <p id="page_title">Projects</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-5">
      {% for project in projects %} {% if forloop.counter0|divisibleby:2 %}
      <a class="link-card" href="{% url 'project' project.id %}">
        <div class="card box-shadow mt-3">
          <div class="row">
            <div class="col-sm-7">
              <!--add an if statement which moves this and the other column back and forth based on index-->
              <img
                class="card-img card-img-horizontal-size"
                src="{{ project.main_img.url }}"
                alt=""
              />
            </div>
            <div class="col-sm-5">
              <div class="card-body">
                <h5 class="card-title text-right">{{project.name}}</h5>
                <p class="card-text text-right">{{project.quick_blurb}}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% else %}
      <a class="link-card" href="{% url 'project' project.id %}">
        <div class="card box-shadow mt-3">
          <div class="row no-gutters">
            <div class="col-sm-5">
              <div class="card-body">
                <h5 class="card-title text-right">{{project.name}}</h5>
                <p class="card-text text-right">{{project.quick_blurb}}</p>
              </div>
            </div>
            <div class="col-sm-7">
              <!--add an if statement which moves this and the other column back and forth based on index-->
              <img
                class="card-img card-img-horizontal-size"
                src="{{ project.main_img.url }}"
                alt="project image"
              />
            </div>
          </div>
        </div>
      </a>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>

{% endblock main_content %}
